.ios, .md {
    page-course-details {
        
        .scroll-content{
            overflow-x: hidden;
            overflow-y: hidden;
        }
    
        #map {
            width: 100%;
            height: 40%;
        }

    }
}